html, body {
    /*固定*/
    min-height: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
#background {
    background: url('') no-repeat left center / cover;
    /*background-image: url("images/wallpaper/wallpaper.jpg");*/
    /*div全屏*/
    width: 110%;
    height: 110%;
    left: 0;
    top: 0;
    position: absolute;
}
* {
   /*全局禁止选中*/
    -webkit-user-select:none;
    -moz-user-select:none;   
    -ms-user-select:none;  
    user-select:none;
}
.time_bar{
    background-color: #ffffff00;
    width: 250px;
    height: 100px;
    border-radius: 50px;

    position: fixed;
    margin: 0 auto;
    left: 50%;
    top: 30%;
    z-index: 1;
    transform: translate(-50%,-50%);
}
.time{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100%;
}
#time_min{
    color:#ffffff;
    font-size:55px;
}
#date{
    color:#69c1ff67;
    font-size:20px;
}

.search_bar{
    background-color: #ff000000;
    width: 600px;
    height: 180px;

    position: fixed;
    width: 540px;
    margin: 0 auto;
    left: 50%;
    top: 40%;
    z-index: 0;
    transform: translate(-50%,-50%);
}

#search_bar {
    background-color: #ffffff5f; /* 设置背景颜色并使其部分透明 */
    box-shadow: 0 30px 45px #0000001a; /* 添加阴影效果 */
    backdrop-filter: blur(6px); /* 应用模糊效果 */
    
    font-size: 14px;

    background-image: url('images/search1.png');
    background-position: 10px 10px;
    padding: 12px 20px 12px 40px;
    background-repeat: no-repeat;
    background-size: 20px;

    top: 70%;
    position: fixed;
    width: 90%;
    padding: 12px 20px 12px 40px;
    border: 1px solid #6b6b6b3e;
    border-radius: 20px;
    outline: none;

    transition: all 300ms ease 0s;
}
#search_bar:hover {
    background-color:  #ffffff94;/* 设置背景颜色并使其部分透明 */ 
    transition-property: background-color;
    transition-duration: 300ms;
}
#search_bar:focus {
    background-color:  #ffffff;/* 设置背景颜色并使其部分透明 */ 
    background-image: url('images/search2.png');
    top: 40%;
    transition-property: background-color,background-image,top;
    transition-duration: 300ms;
}
#search_bar:active {
    background-color:  #d3d3d3d7;/* 设置背景颜色并使其部分透明 */ 
    transition-property: background-color;
    transition-duration: 300ms;
}

#key_words_bar_box{
    background-color: #ffffff5f; /* 设置背景颜色并使其部分透明 */
    box-shadow: 0 30px 45px #0000001a; /* 添加阴影效果 */
    backdrop-filter: blur(3px); /* 应用模糊效果 */

    width: 544px;
    height: 34px;/*height: 230px;*/
    border-radius: 10px 10px 10px 10px;

    position: fixed;
    margin: 0 auto;
    top: 70%;
    z-index: -1;

    display: none;
}
#key_words_bar{
    background-color: #ffffff00;
    /*overflow:auto;*/
    width: 532px;
    height: 23px;

    position: fixed;
    margin: 0 auto;
    top: 5px;
    left: 7px;

    overflow: hidden;
}
li{
    color: #ffffff;
    font-size: 15px;
    padding: 0 20px;
    height: 23px;
    border-radius: 10px;
    line-height: 23px; /* 容器高度-居中 */

    list-style-type:none;
}
.hightlight{
    background-color:  #ffffff94;/* 设置背景颜色并使其部分透明 */ 
    box-shadow: 0 30px 45px #0000001a; /* 添加阴影效果 */
    backdrop-filter: blur(3px); /* 应用模糊效果 */
    color: #000000;
    transition-property: background-color,box-shadow,backdrop-filter,color;
    transition-duration: 300ms;
}

::-webkit-scrollbar{
    display: none;
} /* 以前有美化，但是效果不好删了 */

#url_bar{
    background-color: #ff050500;
    width: 600px;
    height: 60px;

    position: fixed;
    left: 50%;
    top: 60%;
    z-index: 0;
    transform: translate(-50%,-50%);
}
#url1{
    border-radius: 30px;
    width: 60px;
    height: 60px;

    position: fixed;
    left: 20%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#url2{
    border-radius: 30px;
    width: 60px;
    height: 60px;

    position: fixed;
    left: 40%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#url3{
    border-radius: 30px;
    width: 60px;
    height: 60px;

    position: fixed;
    left: 60%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#url4{
    border-radius: 30px;
    width: 60px;
    height: 60px;

    position: fixed;
    left: 80%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.url_img{
    margin: auto;
    width: 30px;
    height: 30px;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#blur{
    background-color: #ffffff13; /* 设置背景颜色并使其部分透明 */
    box-shadow: 0 30px 45px #0000001a; /* 添加阴影效果 */
    backdrop-filter: blur(3px); /* 应用模糊效果 */
    width: 100%;
    height: 100%;
    z-index: 0;

    display: none;
}
#setting_bar{
    background-color: #ffffff5f; /* 设置背景颜色并使其部分透明 */
    box-shadow: 0 30px 45px #0000001a; /* 添加阴影效果 */
    backdrop-filter: blur(3px); /* 应用模糊效果 */

    width: 544px;
    height: 500px;
    border-radius: 10px 10px 10px 10px;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    
    display: none;
}
.p-setting{
    color: #ffffff;
    font-size: 25px;
    padding: 0 20px;
    height: 23px;
    border-radius: 10px;
    line-height: 23px; /* 容器高度-居中 */
}
.ps-setting{
    color: #000000;
    font-size: 20px;
    padding: 0 20px;
    height: 23px;
    border-radius: 10px;
    line-height: 23px; /* 容器高度-居中 */
}
.pss-setting{
    color: #000000;
    padding: 0 20px;
    font-size: 15px;
}

#setting_bar_left{
    position: fixed;
    top: 0;
    float: left;
    width: 30%;
    height: 100%;
}
#setting_bar_right{
    position: fixed;
    top: 0;
    width: 70%;
    border-radius: 0 10px 10px 0;
    margin-left: 30%;
    height: 100%;

    background-color: #ffffff1a; /* 设置背景颜色并使其部分透明 */
    box-shadow: 0 30px 45px #0000001a; /* 添加阴影效果 */
    backdrop-filter: blur(3px); /* 应用模糊效果 */

    overflow-x: auto;
    clip-path: inset(0px 0px);/* 裁剪 */
}
.setting_bar_right_input{
    width: 380px;
    text-align:center;
}
.setting_input{
    background-color: #ffffff5f; /* 设置背景颜色并使其部分透明 */
    box-shadow: 0 30px 45px #0000001a; /* 添加阴影效果 */
    backdrop-filter: blur(6px); /* 应用模糊效果 */
    
    font-size: 15px;

    width: 80%;
    height: 10px;
    padding: 12px 20px 12px 20px;
    border: 1px solid #6b6b6b3e;
    border-radius: 20px;
    outline: none;
}
.setting_input:hover {
    background-color:  #ffffff94;/* 设置背景颜色并使其部分透明 */ 
    transition-property: background-color;
    transition-duration: 300ms;
}
.setting_input:focus {
    background-color:  #ffffff;/* 设置背景颜色并使其部分透明 */ 
    top: 40%;
    transition-property: background-color,top;
    transition-duration: 300ms;
}
.setting_input:active {
    background-color:  #d3d3d3d7;/* 设置背景颜色并使其部分透明 */ 
    transition-property: background-color;
    transition-duration: 300ms;
}

#button_setting{
    border-radius: 30px;
    width: 30px;
    height: 30px;

    position: fixed;
    left: 100%;
    top: 100%;
    transform: translate(-40px,-40px);
}
#button_img{
    border-radius: 30px;
    width: 160px;
    height: 30px;

    color: #ffffff;
    font-size: 15px;
    text-align:center;
    line-height: 30px; /* 容器高度-居中 */

    position: fixed;
    left: 0%;
    top: 100%;
    transform: translate(10px,-60px);
}

.button:hover {
    background-color:  #ffffff94;/* 设置背景颜色并使其部分透明 */ 
    box-shadow: 0 30px 45px #0000001a; /* 添加阴影效果 */
    backdrop-filter: blur(3px); /* 应用模糊效果 */
    color: #000000;
    transition-property: background-color,box-shadow,backdrop-filter,color;
    transition-duration: 300ms;
}
.button:active {
    background-color:  #d3d3d3d7;/* 设置背景颜色并使其部分透明 */ 
    color: #000000;
    transition-property: background-color,color;
    transition-duration: 100ms;
}
.button_normal{
    background-color: #ffffff5f; /* 设置背景颜色并使其部分透明 */
    box-shadow: 0 30px 45px #0000001a; /* 添加阴影效果 */
    backdrop-filter: blur(3px); /* 应用模糊效果 */
    transition: all 100ms ease 0s;
    border-radius: 30px;
}
.button_normal_setting{
    color: #000000;
    font-size: 15px;
    text-align:center;
    height: 30px;
    border-radius: 20px;
    line-height: 30px; /* 容器高度-居中 */

    width: 60px;
    position: relative;
    left: 80%;
}
.button{
    transition: all 100ms ease 0s;
}